= form_for @application_setting, url: metrics_and_profiling_admin_application_settings_path(anchor: 'js-performance-bar-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :performance_bar_enabled, class: 'form-check-input'
        = f.label :performance_bar_enabled, class: 'form-check-label qa-enable-performance-bar-checkbox' do
          Enable access to the Performance Bar
    .form-group
      = f.label :performance_bar_allowed_group_path, 'Allowed group', class: 'label-bold'
      = f.text_field :performance_bar_allowed_group_path, class: 'form-control gl-form-input', placeholder: 'my-org/my-group', value: @application_setting.performance_bar_allowed_group&.full_path

  = f.submit 'Save changes', class: 'gl-button btn btn-confirm qa-save-changes-button'
